<hgroup>
	<style type="text/css">
		.circular img {
			width: 100px;
			height: 100px;
			border-radius: 150px;
			-webkit-border-radius: 150px;
			-moz-border-radius: 150px;
			display: block;
			margin: 0px 0px 20px 20px;
			background-color: #b0c4de;
		}
	</style>

	<span>
		<div class="circular">
			{% img left /images/yo5.jpg 200 200 'image' 'images' %}
		</div>
	</span>

  <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
  {% endif %}
</hgroup>
